<form action="/" method="POST">
  <input class="mx-auto d-block" type="url" placeholder="Input URL here..." name="originURL" required>
  <div class="mx-auto d-block">
    <button class="btn btn-outline-secondary mx-auto d-block" type="submit">Shorten</button>
  </div>
</form>